body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navBar {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #33c3ff;
  margin-bottom: 1px;

  .fa-home {
    color: #fff;
    font-size: 2.3em;
  }
}
.App {
  display: flex;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  .homePage {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    .beers-container {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-bottom: 2%;
      h3 {
        text-align: left;
        font-weight: 300;
        font-size: 2.3em;
      }
      p {
        text-align: left;
        color: rgba(0, 0, 0, 0.3);
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .beer-list-container {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #000;
    }
    .beer-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .img-container {
      text-align: left;
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      padding: 2%;

      img {
        width: 20%;
      }
    }
    .list-text-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }
  }

  .single-beer-container {
    padding: 2%;
    height: 100vh;
    .img-container {
      margin: 10px;
      img {
        width: 20%;
      }
    }
    .text-single-beer {
      display: flex;
      .name-tagline-container {
        text-align: left;
        h3 {
          font-size: 1.3em;
        }
        p {
          color: rgba(0, 0, 0, 0.3);
        }
      }
      .brewed-attenuation-container {
        text-align: right;
        h3 {
          font-size: 1.3em;
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    .description-single {
      text-align: left;
      strong {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .random-beer-container {
    padding: 2%;
    height: 100vh;
    .img-container {
      margin: 10px;
      img {
        width: 20%;
      }
    }
    .text-random-beer {
      display: flex;
      .name-tagline-container {
        text-align: left;
        h3 {
          font-size: 1.3em;
        }
        p {
          color: rgba(0, 0, 0, 0.3);
        }
      }
      .brewed-attenuation-container {
        text-align: right;
        h3 {
          font-size: 1.3em;
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    .description-random {
      text-align: left;
      strong {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .form-group {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 450px;
    input {
      border-radius: 20px;
      width: 100%;
    }
    label {
      text-align: left;
      margin-left: 10px;
      margin-top: 10px;
      font-weight: 600;
    }
    button {
      margin: 1%;
      border-radius: 20px;
      background-color: #33c3ff;
      border: none;
    }
  }
}
